
body { 
  font-family: Helvetica, Arial, Geneva, sans-serif;
}

body p, h4 {
max-width: 900px;
text-align: justify;
padding-left: 10px;
padding-right: 10px;
}


.navbar-logo{
  padding-top: 1px;
  padding-bottom: 1px;
  height: 45px;
}

@media screen and (min-width: 0px) and (max-width: 768px){
  .navbar-logo{
    padding-left: 10px;
  }
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 15%; 
  width: 70%;
  height: 50%;
  padding: 16px;
  border: 1px solid grey;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}


        ppl_label{
        	text-decoration: underline;
        	font-size: 10pt;
        }
        
.statwrapper{
	
	padding-left: 10px;
}
	
@media screen and (min-width: 0px) and (max-width: 700px){
	.metawrapper{ 
		width: 95%;
	}
}

@media screen and (min-width: 0px) and (max-width: 400px){
	.statwrapper{
		overflow-x: scroll; 
		width: 290px;
		font-size: 8pt;
	}
}

@media screen and (min-width: 401px) and (max-width: 500px) {
	.statwrapper{
		/*display: inline-block; */
		overflow-x: scroll; 
		width: 390px;
		font-size: 9pt;
	}
}


@media screen and (min-width: 500px) and (max-width: 600px){
	.statwrapper{
		/*display: inline-block;*/
		overflow-x: scroll; 
		width: 490px;
		font-size: 10pt;
	}
}





.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: solid 1px;
}

.checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  white-space: nowrap;


}

.checkbox_label {
	padding-left: 10px;
}

.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox_container:hover input ~ .checkmark {
  background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */
 /*.checkbox_container input:checked ~ .checkmark {
 background-color: #2196F3; 
}*/

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark {
  content: "";
  position: absolute;
  /*display: none;*/
}

.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





.noneselected:after {
	  content: "";
  position: absolute;
  display: block;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid red;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.legend_toggle {
 display: none;
} 


@media screen and (min-width: 0px) and (max-width: 768px){
	.legend_div {
		display: block;
	}
	.legend_toggle { 
 	display: block;
	}

	.legend_map{
 		display: none;
	}


  .legend_div:hover .legend_map {
    display: block;
  }

  .legend_div:hover  .legend_toggle {
    display: none;
  }
}


@media screen and (min-width: 768px){
  #dashboard-container{
    padding-bottom: 30px;
  }


  footer {
    position:absolute;
    bottom:0;
    height:30px; /* Height of the footer */
    z-index: 1000;
  }

}


@media screen and (min-width: 0px) and (max-width: 768px){
  footer {
    display:none;
    height: 0px;
  }

}


.btn {
  background-color: #009DE0;
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px
 
}

.btn:hover {
  background-color: #55BDEA;
}

