.navbar {
  background-color: #009de0;
  border-color: #01161f;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-nav > li > a {
  color: #ffffff;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #0089c4;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0089c4;
}
.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar .navbar-toggle {
  border-color: transparent;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #0089c4;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #0089c4;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  background-color: #0089c4;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #009de0;
  }
  .navbar .navbar-nav .open .dropdown-menu .divider {
    background-color: #009de0;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #0089c4;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0089c4;
  }
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}
.navbar .btn-link {
  color: #ffffff;
}
.navbar .btn-link:hover,
.navbar .btn-link:focus {
  color: #ffffff;
}
.navbar .btn-link[disabled]:hover,
fieldset[disabled] .navbar .btn-link:hover,
.navbar .btn-link[disabled]:focus,
fieldset[disabled] .navbar .btn-link:focus {
  color: #ffffff;
}
